sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyautogui
pyperclip
opencv-python
numpy
mss
psutil
send2trash
youtube-transcript-api
python-pptx
pyqt6
camoufox
playwright-stealth
pyflakes
pytest
